<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5 bg-white p-4">
            <h1>Register</h1>
            <form [formGroup]="registerForm" (ngSubmit)="register()">
                <div class="mb-3">
                    <label for="exampleInputEmail2" class="form-label">Enter name</label>
                    <input formControlName="username" type="text" class="form-control" id="exampleInputEmail2" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Enter user-id</label>
                    <input formControlName="uniqueid" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Enter password</label>
                    <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1">
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
            <div>
                <p>already a user? <a routerLink="">login here</a></p>
            </div>
        </div>
    </div>
</div>
